*{
	margin: 0;
	padding: 0;

}
.container {
	display: flex;

}

.container_main{

width : 1024px;
/*margin: 0 auto;
*/
}

header{
	display: flex;
	height: 100px;
	margin: 0 auto;
	
	border: 1px solid;
	justify-content: space-between;
}

header p {
	margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
}

main{
	height: 95%;
	border: 1px solid;

}
.info{
	display: flex;
	justify-content: center;
}

.nav-link {
    padding: 1vmin 4vmin;
    border: 1px solid;
}

.nav-link:hover {
    color: black;
}

.menu {
	float: right;
}

footer{
	height: 40px;
	border: 1px solid;

}

.logo{
	height: 80px;
	margin: 10px;
}

main img{
	height: 350px;
	margin: 30px;
}

main h1{
	text-align: center;
	margin: 20px;
}

.textInfo{
	display: block;
}

main p {
	text-indent: 20px;
	margin: 25px;
}

main ul{
	margin-top: 40px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 40px;
}

table {
	text-align: center;
   	border-collapse: collapse;
    border: 3px solid black;
    margin: 50px;
}

td {
    border: 3px solid black;
 	height: 70px;
    padding: 10px;
}

.container_main_left{
	
	width: 27%
}

.container_main_right{
	
	width: 27%
}

.container_left_Up{
	height: 500px;
    background: linear-gradient(blue, white);
	
}

#button-up{
  display: none;	
  opacity:0.5;
  filter:alpha(opacity=50);
  position: fixed;
  right: 20px;
  bottom: 100px;			
  color: #000;
  transition: .3s;
}
 
#button-up:hover{
  cursor: pointer;
  opacity: 1;
  filter:alpha(opacity=100);
  transition: .3s;
  color: #FF0000;
}

body {
	

}
* {
	font-family: 'Akaya Kanadaka', cursive;
	box-sizing: border-box;
}

.open-button {
  background-color: gray;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
      margin-left: 35%;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: gray;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
}

.form-container .cancel {
  background-color: gray;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

 @media screen and (max-width: 1024px){
  	
  	
  	header p{
  		display: none;
  	}

  	header {
  		display: flex;
  		justify-content: center; 		
  	}
 
  	.info{
  		display: block;
  		justify-content: center;
  	}

  	.imgMain{
  		margin-left: 37%;
  	}

  	main p{
  		margin: 40px;
  	}

  	.menu{
  		float: none;
  		justify-content: center;
    	text-align: center;
  	}

  	.nav-link {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .nav-link:hover {
        color: black;
    }

    .open-button {
    	margin-left: 30%;
    	margin-bottom: 20px;
    }
}